<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Edit Profile</h1>
    <%= form_for @user do |f| %>  
      <div class="form-group">
        <%= f.label :name, 'Name*' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email*' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password*' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm Password*', class: 'col-md-4 control-label' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit 'Submit Changes', class: 'btn btn-primary' %>  
      <button type="button" class="btn btn-danger"><%= link_to "Delete this profile", :user, method: :delete, data: { confirm: "Are you sure you want to delete your profile?"} %></button>
    <% end %>
  </div>
</div>