<!DOCTYPE html>
<html>
  <head>
    <title>HAUTE FOOD13</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  
  </head>

  <body>
    <div class="container">
      <%= render 'partials/navbar' %>
      <%= render 'partials/flash_msgs' %>
      

      <%= yield %>
    </div>
  </body>
</html>


